.d-flex-inline {
    display: flex;
    flex-direction: row;
}

body{
    background-image: url(./country-quilt-dark.png);
    width: 100vw;
}
.initial-block {
    font-size: 1rem;
    background: black;
    padding: 0.2em;
    color: white;
    margin: 0.1em;
    font-weight: bolder;
    max-width: 35px;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 3px;
}
.card{
   
    padding: 0px;
    margin: 1em 1em;
    font-size: 0.5em;
    border: transparent !important;
}
.card-body{
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: stretch;
    padding: 0.4rem 1.25rem;
    min-height: 104px;
}
.card-header{
    font-weight: bolder;
    color: white;
    padding: 0.25em 1.25rem !important
}
h4{
    font-weight: bolder;
    color:white;
    font-size: 1rem;
}
label{
    font-weight: bolder;
    color: white;
    font-size: 2em;
}
.msg{
    font-size: 1rem;
    color: black;
}